In [7]:
#071221 Susana

In [8]:
#PART 1

In [15]:
def Saludar():
    print("Hello World")

In [16]:
Saludar()

Hello World

In [17]:
#PART 2

In [39]:
def decode (secuencia):
    s = str.split (secuencia, '-')
    color_dict = {'black': '0',
              'brown': '1', 
              'red': '2',
              'orange': '3', 
              'yellow': '4',
              'green' : '5', 
              'blue' : '6',
              'violet' : '7', 
              'grey' : '8',
              'white': '9'}
    valor = ''
    i=0
    for color in s:
        valor += color_dict[color]
        i+=1
        if (i==2):
            print(valor)

In [40]:
decode ('brown-green-violet')

15

In [2]:
#PART #3 leap year ejercicio

In [3]:
def leapyear(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return True
            else:
                return False
        else:
             return True
    else:
        return False

Leap Year

In [6]:
# Probar a√±os
year = 1901
if(leapyear(year)):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

In [23]:
#PARTE 4

In [79]:
def age (planet, time):
   
    Planet_dict = {'mercury': 0.2408467,
                  'venus': 0.61519726, 
                  'earth': 1,
                  'mars': 1.8808158, 
                  'jupiter': 11.862615,
                  'saturn' : 29.447498, 
                  'uranus' : 84.016846,
                  'neptune' : 164.79132
                 }

    year = 31557600
    
    for x in Planet_dict.items():      
         if (x[0] ==planet):
            #print( " %.2f Earth-years old", time/x[1] )
            print("{0:.2f}".format( ( ( time/ x[1])/ year)), "Earth-years old" )

In [80]:
(age('uranus', 1210123456))

0.46 Earth-years old